:root {
  --default-margin: 5px;
  --default-padding: 5px 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

.card {
  font-family: "roboto", sans-serif;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
  background: linear-gradient(#dfdfdf, white, #dfdfdf);
  box-shadow: 5px 5px 5px gray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px gray;
}

.card:active {
  transform: scale(1);
}

.personId {
  flex: 1;
  text-align: center;
  margin: var(--default-margin);
  padding: var(--default-padding);
}

.personName {
  flex: 8;
  text-align: center;
  text-wrap: wrap;
  margin: var(--default-margin);
  padding: var(--default-padding);
}

.personEmail {
  flex: 8;
  text-align: center;
  text-wrap: nowrap;
  margin: var(--default-margin);
  padding: var(--default-padding);
}

.personPhone {
  flex: 8;
  text-align: center;
  text-wrap: nowrap;
  margin: var(--default-margin);
  padding: var(--default-padding);
}
