<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Application Management</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <section class="hero">
      <div class="text-container">
        <!--<div class="welcome">Welcome to</div>-->
        <div class="welcome">
          <u>J</u>ob <br /><u>A</u>pplication <br /><u>M</u>anagement
        </div>
      </div>
    </section>
    <nav class="navigation">
      <div class="hamburger-container">
        <a href="#" class="icon">
          <img class="hamburger" src="/hamburger_white.svg" />
        </a>
      </div>
      <div class="menu-content content-width">
        <a href="#" class="appNav">Application</a>
        <a href="#" class="compNav">Company</a>
        <a href="#" class="personNav">Person</a>
      </div>
    </nav>

    <iframe class="content-container content-width"></iframe>

    <script src="/index.js"></script>
  </body>
</html>
